

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
  }
  .wrappe{
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -130%;
    height: 100%;
    width: 100%;
    background: #000;
    transition: all 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  #active:checked ~ .wrappe{
    right:0;
    z-index: 4;
    transition-delay: 300ms;
  }
  .menu-btn{
    position: fixed;
    z-index: 5;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 30%;
      width: 50%;
      border-bottom: 2px solid rgb(255, 255, 255);
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }
  
  
  .close {
      z-index: 4;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: background .6s;
  }
  
  /* closing animation */
  #active:checked + .menu-btn span {
      transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
      transform: rotate(45deg);
    border-color: #fff;
  }
  #active:checked + .menu-btn:after {
      transform: rotate(-45deg);
    border-color: #fff;
  }
  .menu_in_shape{
    position: absolute;
    background: linear-gradient(90deg, #0072FF 0%, #00C6FF 100%);
    border-radius: 100%;
    height: 500px;
    width: 500px;
    z-index: 0;
  }
  .wrappe ul{
    position: absolute;
    top: 60%;
    left: 20%;
    height: 90%;
    width: 100%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    align-items: center;
  }
  .wrappe ul li{
    height: 10%;
    margin: 15px 0;
  }
  .wrappe ul li a{
    text-decoration: none;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.85);
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    padding: 5px 30px;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    transition: all 0.3s ease;
  }

  .wrappe ul li a:hover{
    -webkit-text-fill-color: white;
    cursor: none;
  }
  input[type="checkbox"]{
    display: none;

  }

  
  #active:checked ~ .wrappe ul li a{
    opacity: 1;
  }

  @media(max-width:700px) {
    .wrappe ul li a{
      font-size: 40px;
    }
    .wrappe ul li {
      height: 7%;
    }
  }


